body{
    margin: 0;
    background-color: rgb(22,22,22);
}
.title{
    background-color: 22,22,22;
    padding: 1rem;
    font-size: 20px;
    border: 10px solid ;
    margin: 0;
}
.header{
    background-color: rgb(22, 22, 22);
    padding: 1rem;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 255, 255);
    text-align: center;
    border: 10px solid rgb(22, 22, 22);
    margin: 0;
    height: 70px;
}
div{
    padding: 10px;
}
.menu{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 25px;
    background-color: rgb(22, 22, 22);
    text-align: center;
}
#bolder{
    font-weight: bold;
}
p{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    background-color: rgb(22, 22, 22);
}
.skip-link:focus{
    top: 0;
  }
.content{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 500px;
    margin: 0;
    padding: 0;
    background-color: rgb(22, 22, 22);
}
.selector{
    display: flex;
    width: 700px;
    /* height: 667px; */
    background-color: rgb(22, 22, 22);
    justify-content: space-between;
    padding: 0;
    margin: 0;
    border: 0;
}
.iamcentering{
    display: flex;
    justify-content: center;
    align-items: center;
}
.s1{
    height: 100%;
    width: 100px;
    padding: 0;
    margin: 0;
    background-image: url(img/back1.5-100.jpg);
    background-position: 600px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.s1 img{
    margin-left: 30px;
}
.s2{
    height: 100%;
    width: 100px;
    padding: 0;
    margin: 0;
    background-image: url(img/back2.2-100.jpg);
    background-position: 500px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.s2 img{
    margin-left: 30px;
}
.s3{
    height: 100%;
    width: 100px;
    padding: 0;
    margin: 0;
    background-image: url(img/back3.1-100.jpg);
    background-position: 500px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.s3 img{
    margin-left: 30px;
}
.s4{
    height: 100%;
    width: 100px;
    padding: 0;
    margin: 0;
    background-image: url(img/back4.1.png);
    background-position: 500px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.s4 img{
    margin-left: 30px;
}
.s5{
    background-image: url(img/pink.png);
    height: 100%;
    width: 100px;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.s5 img{
    margin-left: 30px;
}
.s6{
    background-image: url(img/purple.png);
    height: 100%;
    width: 100px;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.s6 img{
    margin-left: 30px;
}
.s7{
    background-image: url(img/blue.png);
    height: 100%;
    width: 100px;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.s7 img{
    margin-left: 30px;
}
.s1:hover {
    width: 500px;
    justify-content: flex-start;
    background-position: 600px;
}
.s2:hover {
    width: 500px;
    justify-content: flex-start;
    background-position: 700px;
}
.s3:hover {
    width: 500px;
    justify-content: flex-start;
    background-position: 600px;
}
.s4:hover {
    width: 500px;
    justify-content: flex-start;
    background-position: 600px;
}
ul{
    list-style: none;
    background-color: rgb(22, 22, 22);
    padding: 0;
}
li{
    position: relative;
    display: inline-block;
}
.menu ul li a{
    display: block;
    padding: 15px;
    text-align:center;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 255, 255);
}
ul li ul.menu li{
    display: block;
    list-style: none;
    display: inline-block;
    width: 150px;
    background-color: rgb(22, 22, 22);
    position: absolute;
    /* z-index: 999; */
    display: none;
}
.menu ul li:hover a{
    color: rgb(164, 164, 164)
}
.btt{
    position:relative;
    bottom: 20px;
    border: 10px solid rgb(22, 22, 22);
    background-color: rgb(22, 22, 22);
    font-size: 20px;
    padding-left: 35px;
}
.btt a{
    text-decoration: none;
}
.btt a:hover p{
    color: rgb(164, 164, 164);
}
.contact{
    background-color: rgb(22, 22, 22);
    padding: 1rem;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 255, 255);
    border: 10px solid rgb(22, 22, 22);
    margin: 0;
    font-weight: bold;
}
.info{
    background-color: rgb(22, 22, 22);
    padding: 1rem;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 255, 255);
    border: 10px solid rgb(22, 22, 22);
    margin: 0;
    display: list-item;
    width: 50%;
    /* height: 130px; */
}
footer{
    position: relative;
    display:inline-flex;
    bottom: 0px;
    width: 100%;
}
footer ul li{
    display: block;
    margin-left: 20px;
}
.links{
    position: relative;
    width: 50%;
    padding-top: 50px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 255, 255);
    text-align: right;
    text-decoration: none;
    margin-right: 36px;
}
.linkedin a:hover{
    color: rgb(164, 164, 164);
}
.behance a:hover{
    color: rgb(164, 164, 164);
}
.links ul li a{
    text-align: right;
}
.link{
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 26px;
}
.social a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.foff-content{
    background-color: rgb(105, 200, 201);
    width: 700px;
    gap: 15px;
    justify-content: center;
}
.hts-content{
    background-color: rgb(112, 168, 81);
    width: 700px;
    gap: 15px;
    justify-content: center;
}
.star-content{
    background-color: rgb(222, 202, 44);
    width: 700px;
    gap: 15px;
    justify-content: center;
}
.jr-content{
    background-color: rgb(218, 116, 50);
    width: 700px;
    gap: 15px;
    justify-content: center;
}
.tabcontent{
    display: none;
    flex-direction: row-reverse;
    padding: 0;
}
.foffimages{
    width: 400px;
}
.htsimages{
    width: 400px;
}
.starimages{
    width: 400px;
}
.jrimages{
    width: 400px;
}
.tablinks{
	border: none;
	padding: 0;
}
.foff-words{
    color: black;
    background-color: rgb(105, 200, 201);
    width: 30%;
}
.hts-words{
    color: black;
    background-color: rgb(112, 168, 81);
    width: 30%;
}
.star-words{
    color: black;
    background-color: rgb(222, 202, 44);
    width: 30%;
}
.jr-words{
    color: black;
    background-color: rgb(218, 116, 50);
    width: 30%;
}
